.section1 {
    width: 100%;
    max-width: 1440px;
    height: 724px;
    margin: 0 auto;
    background: url('../img/header_bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: -75px;
}